<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text"  name="name" required id="name" [(ngModel)]="register.name">
    <p> Mensaje de error </p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="email"  name="email" required id="email" [(ngModel)]="register.email">
    <p> Mensaje de error </p>
  </div>
  <div class="iinput-group">
    <label for="passwrod">Password</label>
    <input type="password"  name="password" required id="password" [(ngModel)]="register.password">
    <p> Mensaje de error </p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Accion</button>
</form>
<hr/>
<h1>Ngclass & Ngstyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name"/>
<hr class="line-error"
  [ngClass]="{
  'valid': nameInput4.valid,
  'invalid': nameInput4.invalid
  }"
/>
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width"/>
    <input type="number" [(ngModel)]="box.height"/>
    <input type="color" [(ngModel)]="box.background"/>
  </div>
  <div>
    <div [ngStyle]="{
      'width.px':box.width,
      'height.px':box.height,
      'background-color':box.background,
      'display':'block'
    }">

    </div>
  </div>
</div>
<hr/>
<h1>Class and style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name"/>
<p class="message-error" [class.invalid]="nameInput2.invalid"> El campo es requerido</p>
<label >Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name"/>
<p [style.font-style]="nameInput3.invalid ? 'italic':'normal'"> texto texto texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImage"/>

  </div>
  <div>
    <img [style.width.%]="widthImage" [src]="person.avatar">
  </div>
</div>
<hr/>
<h1> ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name"/>
<div [ngSwitch]="person.name">
  <p *ngSwitchCase= "'Nicolas'"> La persona es Nicolas </p>
  <p *ngSwitchCase = "'Julian'"> La persona es Julian </p>
  <p *ngSwitchCase = "'Camilo'"> La persona es Camilo </p>
  <p *ngSwitchDefault> No hace match</p>
 </div>
<!--- <p *ngIf="person.name === 'nicolas'"> La persona es Nicolas </p>
<p *ngIf="person.name === 'julian'"> La persona es Julian </p>
<p *ngIf="person.name === 'Camilo'"> La persona es Camilo </p> --->
<hr/>
<h1> *ngFor objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image" width="200">
    <h2> {{product.price}} </h2>
    <p> {{product.name}} </p>
  </div>
</div>
<hr/>
<h1> *ngFor</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]='newName' />
<button (click)="addName()"> Add name </button>

<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i"> {{i}} {{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr/>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Age ++</button>
<p>Nombre {{ person.name }}</p>
<hr/>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" />
<hr/>
<h1>Hola mundo</h1>
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img src={{img}} alt="image">
<hr/>
<img src={{img2}} alt="image" style=" height:400px">
<img src={{img2}} alt="image" style=" height:400px">
